/* NAVIGATION MENU */

#menu {
	background: white;
	height: 75px;
	padding-right: 25px;
	padding-left: 25px;
	border-radius: 0px;
	color: black;
	position: fixed;
    z-index: 1000000;
    width: 100%;
    background-color: #fff;
	-webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: -1px 2px 8px 0px #aaa;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
	text-align: right;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu .mmm {
	display: block;
	line-height: 75px;
	padding: 0 20px;
	text-decoration: none;
	color: #096a2e;
	
	font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 75px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 75px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #6D7692;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	
	#menu ul {background:#6D7692;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
		
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}

div.header-flexbox{
	display: flex;
	justify-content: space-between;
}

img.flex-logo {
	width: 50px;
	object-fit: contain;
}

.info-number {
	background-color: #096a2e;
	margin-left: 25px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	display: flex;
  	justify-content: center; /* Zarovná obsah vodorovně na střed */
  	align-items: center; /* Zarovná obsah svisle na střed */
	flex-direction: column;
	padding: 0px 15px;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.5px;
	height: 75px;
	
}

.info-number a{
	color: inherit; /* Převezme barvu textu rodičovského prvku */
}

@media (max-width: 768px) {
	#menu {
		position: absolute;
		height: auto;
		padding-right: 0;
		
	}	
	.info-number {
		height: auto;
		align-items: end;
		padding-right: 5vw;
	}

	.info-number{
		width: 100%;
		background: linear-gradient(180deg, #27ae60 0%, #096a2e 100%);
	}
	.flex-logo{
		padding: 8px 0px;
		
	}


}