.loan-form-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.loan-form {
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 400px;
  box-shadow: 0px 0 11px 5px rgba(0, 0, 0, .08);
  padding: 20px 80px 30px 80px;
  z-index: 10000;
  flex-wrap: wrap;
  border-radius: 25px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.loan-form h1 {
  width: 100%;
  margin-bottom: 30px;
}

.form-slider {
  align-self: stretch;
  width: 100%;
}

.coupon-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-transform: uppercase;
  justify-content: center;
}

button[type="submit"] {
  text-transform: uppercase;
}

.calculator {
  text-transform: uppercase;
  white-space: revert;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 5px;
  text-align: center;
  padding: 30px 50px 30px 50px;
  background-color: #096a2e;
  /* border: 1px solid #dfdfdf26; */
  font-weight: 400;
  font-size: 20px;
  color: white;
  background: linear-gradient(180deg, #27ae60 0%, #096a2e 100%);
  letter-spacing: 0.8px;
  box-shadow: inset 7px 1px 18px 7px rgba(0, 0, 0, .08);
}

.calculator .value {
  text-align: right;
}

.calculator .name {
  text-align: left;
}

.calculator .summary {
  font-weight: 700;
}

.loan-amount-input h2 {
  margin: 0;
}

.loan-form-container h3 {
  font-size: 20px;
} 

#coupon-code {
  padding: 1rem;
  border: none;
  border-bottom: 0.125rem solid
}



.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  white-space: nowrap;
}

.loan-form-button {
  width: 250px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .loan-form-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .calculator {
    width: 100%;
  }

  .loan-form {
    padding: 20px 40px 40px 40px;
    height: 470px;
    padding: 10px 5vw 30px 5vw;
    margin: 20px 20px;
    width: 95%;
  }
  .loan-form h1 {
    line-height: 45px;
    font-size: 33px;
  }
  .calculator {
    padding: 30px 5vw 30px 5vw;
  }

  #coupon-code{
    width: 60%;
    margin-right: 10px;
  }
  
}